body, html {
    height: 100%;
    margin: 0px auto;
    padding: 0px auto;
}

.wrapper {
    height: auto;
    min-height: 100%;
    margin: 0px auto;
    padding: 0px auto;
    padding-top: 25px;
    padding-left: 20px;
    background-image: url('../img/beach-1641791_1280.jpg');
}

#myPlans {
    width: 100%;
    background-color:rgba(255,255,255,0.4);
}

.description {
    overflow: auto;
    display: inline-block;
}

#otherTable {
    vertical-align: top;
    margin-left: 15%;
}

td {
    background-color:rgba(255,255,255,0.4);
}

.tables {
    margin-top: 10px;
    background-color:rgba(255,255,255,0.4);
    border: 1px solid black;
    border-radius: 20px;
    display: inline-block;
    padding: 10px;
    width: 40%;
}

h4 {
    color: black;
}
.logout {
    margin: 10px 0;
    width: 5%;
}

table, th, td {
    color: black;
    border: 1px solid black;
    background-color:rgba(255,255,255,0.75);
}
td {
    width: 40px;
}
h1 {
    color: black;
}
